<%= render "shared/errors", obj: @user %>

<div class="well">
  <%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br/>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br />
    <%= f.label :phone do %>
      U.S. Phone <span class="grey">- Optional (ex: 310 555 6789)</span>
    <% end %>
    <%= f.text_field :phone %>
    <br/>
    <%= f.submit @user.new_record? ? "Register" : "Update Profile", class: 'btn btn-primary' %>
  <% end %>
</div>