<% content_for :javascript do %>
  <%= javascript_tag do %>
    function changeOpacity(id) {
      $('#item_'+id).css("opacity",0.5);
    }

    $(document).ready(function(){

      $(".checkbox").change(function() {

          $.ajax({
             url: '../../items/'+ this.id.replace("checkbox_","") + '/activate',
             type: 'POST',
             data: { remote: true },
          });
      });


      // alert('document ready');
      $('#items').sortable({
        axis: 'y',
        dropOnEmpty: false,
        handle: '.handle',
        cursor: 'crosshair',
        items: 'li',
        opacity: 0.4,
        scroll: false,
        
        update: function(){
          // alert('what what?');
          $.ajax({
          type: 'post',
          data: $('#items').sortable('serialize'),
          dataType: 'script',
          complete: function(request){
          // $('#items').effect('highlight');
        },
        url: '/users/sort'})
        }

      });
    });
  <% end %>
<% end %>
<%= render 'shared/content_title', title: 'Hi, ' + current_user.username + '!' %>
<ul id='items'> 

  <% @items.each do |item| %>
    <li id="item_<%= item.id %>" > 
      <div id="item-box" class="rounded-corners handle">
        <span id="item-check" class="checkbox-inline">
          <input class="checkbox" id="checkbox_<%= item.id %>" type="checkbox" name="activate_toggle" title="Mark as done" <% if !item.active %>checked<% end %> >
        </span>
        <span id="item-name">
          <%= item.body %>
        </span>
        <span id="item-right">
          <% if !item.sms_time.blank? %>
            <% if !item.sms_sent.blank? && item.sms_sent %>
              <span id="item-sms">
                <span class="grey">SMS:</span> Sent
              </span>
            <% else %>
              <span id="item-sms">
                <span class="grey">SMS:</span> <%= fix_datetime(item) %>
              </span>
            <% end %>
          <% end %>
          <span id="item-edit" title="Edit" >
            <%= link_to edit_item_path(item) do %>
              <span class="icon-pencil"></span>
            <% end %>
          </span>
          <span id="item-remove" title="Delete" >
            <%= link_to item_path(item), :method => :delete do %>
              <span class='icon-remove'></span>
            <% end %>
          </span>
          <% if !item.active %>
            <script type="text/javascript">
              changeOpacity(<%= item.id %>);
            </script>
          <% end %>

        </span>
      </div>
    </li>
  <% end %>

</ul>
<%= link_to new_item_path do %>
  <img src=<%= asset_path "add-items.gif" %> alt="add item">
<% end %>

